body{
    background: url(../Assets/Imagenes_Kickzone/AdiPuNi.jpg) no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat Light Alt1', sans-serif;;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.log{
    background-color: black;
    box-sizing: border-box;
    color: white;
    height: 420px;
    left: 50%;
    padding: 70px 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
}

.log a{
    color: rgb(196, 193, 193);
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}

.log a:hover{
    color: ghostwhite;
}

.log .avatar{
    border-radius: 50%;
    height: 115px;
    left: calc(50% - 50px);
    position: absolute;
    top: -50px;
    width: 115px;
}

.log h1{
    font-size: 22px;
    margin: 0;
    text-align: center;
    padding: 0 0 20px;
}

.log input{
    margin-bottom: 20px;
    width: 100%;
}

.log input[type="text"], .log input[type="password"]{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 15px;
    height: 40px;
    outline: none;
}

.log label{
    display: block;
    margin: 0;
    font-weight: bold;
    padding: 0;
}

.log input[type="submit"]{
    border: none;
    border-radius: 15px;
    background-color: rgb(196, 193, 193);
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    outline: none;
}


.log input[type="submit"]:hover{
    color: ghostwhite;
}


#show{
    background-color: black;
    border: none;
    border-radius: 15px;
    color: rgb(196, 193, 193);
    margin: 0;
    padding-bottom: 10px;
}

#show:hover{
    color: ghostwhite;
}